In [21]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data_to_load = "data/city_data.csv"
ride_data_to_load = "data/ride_data.csv"

# Read the City and Ride Data
ride_data_df = pd.read_csv(ride_data_to_load, low_memory=False) # Create ride data
city_data_df = pd.read_csv(city_data_to_load, low_memory=False) # Create city data

city_data_df.head()  # review city data type and column
#city_df = city_data_df.set_index("city")`

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [22]:
ride_data_df.head() # review ride data type and column
# ride_df = ride_data_df.set_index("city")

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2018-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2018-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2018-02-10 23:22:03  23.44  5149245426178
4          South Jack  2018-03-06 04:28:35  34.58  3908451377344

In [23]:
# Combine the data into a single dataset
merge_table = pd.merge(ride_data_df, city_data_df, how='left', on='city')

# Display the data table for preview
merge_table.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2018-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2018-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2018-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2018-03-06 04:28:35,34.58,3908451377344,46,Urban

In [25]:
urban_cities = merge_table[merge_table['type']=='Urban']
suburban_cities = merge_table[merge_table['type']=='Suburban']
rural_cities = merge_table[merge_table['type']=='Rural']

urban_ride_count = urban_cities.groupby(['city']).count()['ride_id']
urban_ride_count = urban_cities.groupby(['city']).mean()['fare']
urban_ride_count = urban_cities.groupby(['city']).mean()['driver_count']

suburban_cities = suburban_cities.groupby(['city']).count()['ride_id']
suburban_cities = suburban_cities.groupby(['city']).mean()['fare']
suburban_cities = suburban_cities.groupby(['city']).mean()['driver_count']

rural_cities = rural_cities.groupby(['city']).count()['ride_id']
rural_cities = rural_cities.groupby(['city']).mean()['fare']
rural_cities = rural_cities.groupby(['city']).mean()['driver_count']

KeyError: 'fare'

In [26]:
plt.scatter(urban_ride_count, 
           urban_avg_fare,
           s=10*urban_driver_count, c='coral',
           edgecolor = 'black', linewidth=1, marker='o',
           alpha=0.8, label='Urban')

NameError: name 'urban_avg_fare' is not defined

In [ ]:
bla = 'khaled'
khaled_arr = []
khaled_arr.append(bla)
khaled_arr.append('Yemen')
khaled_arr

In [ ]:
khaled_arr[0] = 'khaled Karman'
khaled_arr[0]

In [ ]:
bla = 'khaled'
khaled_arr = []
khaled_arr.append({'name':bla, 'lastname':"ooo"})

khaled_arr

## Bubble Plot of Ride Sharing Data

In [ ]:
# Create a list indicating where to write x labels and set figure size to adjust for space
plt.figure(figsize=(20,3))
plt.bar(x_axis, rain_df["Inches"], color='r', alpha=0.5, align="edge")
plt.xticks(tick_locations, rain_df["State"], rotation="vertical")

In [ ]:
# Save Figure# Show plot
# Build the scatter plots for each city types

# Incorporate the other graph properties
plt.title("Pyber Ride Sharing Data (2016)")
plt.ylabel("Average Fare")
plt.xlabel("Pyber Ride Sharing Data (2016)")


# Create a legend

# Incorporate a text label regarding circle size

In [ ]:
# Save Figure
plt.show()

## Total Fares by City Type

In [ ]:
# Calculate Type Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Rides by City Type

In [ ]:
# Calculate Ride Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Drivers by City Type

In [ ]:
# Calculate Driver Percents

# Build Pie Charts

# Save Figure

In [ ]:
# Show Figure
plt.show()